body {
    font-family: system-ui, sans-serif;
    margin: 1rem;
}

input {
    padding: .5rem;
    margin-right: .5rem;
}

button {
    padding: .5rem 1rem;
}

ul {
    list-style: none;
    padding-left: 0;
}

div {
    background-color: lightgrey;
    padding: 1rem;
}

li {
    padding: .25rem 0;
}